.new_taxonomy_form__frontend {
    width: 80%;
    max-width: 1200px;
}

.new_taxonomy_form__frontend * {
    box-sizing: border-box;
}

.flex-outer {
    list-style-type: none;
    padding: 0;
}

.flex-outer {
    max-width: 800px;
}

.flex-outer li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-outer>li:not(:last-child) {
    margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
    padding: 8px;
}

.flex-outer>li>label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer>li>label+* {
    flex: 1 0 220px;
}

.flex-outer li p {
    margin: 0;
}

.flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border-radius: 2px;
}

/* ideas page shortcode */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 5 columns */
    gap: 20px; /* Gap between columns */
    padding: 20px;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card {
    text-align: center;
}

.card p {
    text-align: left;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    text-align: left;
}

.card-date {
    font-size: 14px;
    color: #888;
}

.card-meta {
    font-size: 14px;
    color: #888;
}

.card-description {
    font-size: 16px;
    margin-top: 10px;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    }
}
